/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white;
    color: #222;
}

/* NAVBAR */
header {
    background: maroon;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.services-hero {
    text-align: center;
    padding: 60px 20px;
}

.services-hero h1 {
    color: maroon;
    font-size: 40px;
}

/* SERVICES */
.services-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.service-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.service-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
    background: #f9f9f9;
}

.service-header h2 {
    color: maroon;
}

.service-header span {
    font-size: 24px;
}

/* HIDDEN CONTENT */
.service-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease;
}

.service-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.service-content p {
    padding: 20px;
}

/* ACTIVE */
.service-item.active .service-content {
    max-height: 500px;
}

/* FOOTER */
.site-footer {
    background: maroon;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
